body {
    background: #F8F8F8;
    font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    display: inline;
    padding: 25px;
}

.menu {
    cursor: pointer;
    float: left;
    font-size: 35px;
    margin: 12px 24px;
}

nav {
    background-color: #d3931c;
    color: #FFF;
    float: left;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
    height: 65px;
    width: 100%;
}

nav > ul {
    margin-left: 6px;
    margin-top: -5px;
    padding-left: 0;
}

nav > ul > li {
    display: inline-block;
    margin-top: 25px;
}

nav > ul > li > a {
    color: #FFF;
    padding: 25px;
}

nav > ul > li > a, .link > a {
    color: #FFF;
}

nav > ul > li > a:hover, nav > ul > li > a:visited, .link > a:hover, .link > a:visited {
    color: #FFF;
}

@media screen and (max-width : 1280px) {
    .link {
        margin: 5px 0;
    }

    .menu-mobile {
        background-color: rgb(183, 144, 93);
        display: none;
        left: 0px;
        padding: 15px 25px;
        position: absolute;
        top: 65px;
    }

    .menu-mobile.show {
        display: block;
    }

    nav {
        position: relative;
    }

    nav > ul {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .menu {
        display: none;
    }

    .menu-mobile {
        display: none;
    }
}

    

    
