* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

html {
    font-size: 10px;
}

.whoIsWatching {
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
}

.logo-section {
    width: 95vw;
    margin: auto;
    height: 7rem;
    background-color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-section > a > img {
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.main-div {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-div h1 {
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-size: 600;
    color: white;
}

.memberDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.memberDiv > .btn, .addIcon {
    height: 125px;
    width: 125px;
    border-radius: 1px;
    margin-top: 3rem;
    margin-right: 2rem;
    position: relative;
    cursor: pointer;
    background-size: cover;
}

.memberDiv > .btn:nth-child(1) {
    background-image: url("user1.jpg");
}

.memberDiv > .btn:nth-child(2) {
    background-image: url("user2.png");
}

.memberDiv > .btn:nth-child(3) {
    background-image: url("user3.jpg");
}

.memberDiv > .btn:hover {
    box-shadow: inset 0 0 0 5px white;
}

.memberDiv > .btn > span, .addIcon > span {
    width: inherit;
    position: absolute;
    bottom: -3rem;
    left: 0;
    color: rgb(153, 153, 153);
    font-size: 2rem;
}

.addIcon {
    background-color: transparent;
}

.fa-plus-circle {
    font-size: 7vw;
    color: grey;
    opacity: 0.5;
}

.addIcon:hover {
    background-color: white;
}

.addIcon:hover > .fa-plus-circle {
    opacity: 0.5;
}

.manageProfile {
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 5px;
    font-size: 2rem;
    margin-top: 8rem;
    background-color: transparent;
    cursor: pointer;
}

.manageProfile:hover {
    border: 1px solid whitesmoke;
    color: whitesmoke;
}