body {
    background: #F8F8F8;
    font-family: Lato,"-apple-system","Helvetica Neue",Roboto,"Segoe UI",sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.cfx {
    clear: both;
    width: 100%;
}

#header {
    background: #FFF;
    height: 55px;
    width: 100%;
}

#header > .logo {
    float: left;
}

#header > .hd {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: #5db5b7;
    font-size: xx-large;
    font-weight: 400;
    float: left;
    margin-left: 15px;
}

#header > hr.vertical {
    border: 0;
    margin: 0;
    border-left: 1px solid rgb(107, 107, 107);
    height: 50px;
    float: left;
    margin-left: 15px;
}

#background {
    background: url('macchine.jpg');
    background-size: cover;
    height: 400px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

p {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
    display: inline;
    padding: 25px;
}

p.info {
    padding: 545px;
}

.jumbo {
    color:rgb(255, 255, 255);
    width: 100%;
}

.jumbo > .content {
    color: #ffffff;
    margin: auto;
    width: 65%;
}

.jumbo > .content > h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
    padding-top: 45px;
}

.jumbo > .content > h3 {
    font-size: 28px;
    margin-top: 0;
}

.jumbo > .content > p {
    font-size: 50px;
    font-weight: 700;
}

.info {
    background: #FFF;
    margin-top: 25px;
    width: 100%;
}

.info > .content {
    padding: 10px 25px;
    width: calc(100% - 50px);
}
.info h3 {
    color: #5db5c4;
}


.q1 {
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 200px;
    padding-left: 175px;
}

.q1 h2 {
    font-family: RobotoDraft, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    color: white;
}



.box {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 3px 0 10px 0 rgb(112 112 112 / 45%);
    color: #333;
    margin-right: 25px;
    padding: 10px 25px;
}

.box > .content, .box > .link, .box > .title {
    clear: both;
    width: 100%;
}

.box > .content {
    margin-bottom: 10px;
}

.box > .content > p {
    color: #333;
    padding: 0;
}

.box > .link > a, .box > .link > a > .lni {
    color: #5db5c4;
    font-weight: bold;
}

.box > .title > h3 {
    float: left;
    margin-left: 15px;
    font-size: 2em;
}

.box > .title > img {
    float: left;
    margin-left: 15px;
}

.box h3 {
    font-size: 28px;
    font-weight: bold;
}

.boxes {
    display: flex;
    justify-content: center;

}



nav {
    background-color: #5db5b7;
    color: #FFF;
    float: left;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    height: 65px;
    width: 100%;
}

nav > ul {
    margin-left: 6px;
    margin-top: 0;
    padding-left: 0;
}

nav > ul > li {
    display: inline-block;
    margin-top: 25px;
}

nav > ul > li > a {
    color: #FFF;
    padding: 25px;
}

nav > ul > li > a {
    color: #FFF;
}

nav > ul > li > a:hover, nav > ul > li > a:visited, .link > a:visited {
    color: #FFF;
}

.hamburger-menu {
    float: left;
    font-size: 42px;
    margin: 12px 24px;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    .link {
        margin: 5px 0;
    }

    .menu-mobile {
        background-color: #5db5b7;
        display: none;
        left: 0px;
        padding: 15px 25px;
        position: absolute;
        top: 65px;
    }

    .menu-mobile.show {
        display: block;
    }

    nav {
        position: relative;
    }

    nav > ul {
        display: none;
    }
}

@media screen and (min-width: 1280px) {
    .hamburger-menu {
        display: none;
    }

    .menu-mobile {
        display: none;
    }
}