* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 1396px;
    max-width: 100%;
    height: calc(100vh - 40px);
    background-color: #fff;
    display: flex;
}

.container > .leftSide {
    border: 1px solid rgb(173, 159, 159);
    position: relative;
    flex: 30%;
}

.container > .rightSide {
    border: 1px solid rgb(173, 159, 159);
    position: relative;
    flex: 70%;
    background: url(watsapp.png);
}

.header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #2ebe8f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.header > .pos_hthree {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.header > .pos_hthree > .three > h3 {
    font-size: 1.1em;
    font-weight: 600;
}

.userimg {
    border-radius: 50%;
    position: relative;
    width: 47px;
    height: 40px;
    background: url(https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search {
    position: relative;
    width: 100%;
    height: 50px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.search > div {
    width: 100%;
}

.search > div > input {
    width: 100%;
    outline: none;
    border: none;
    background: #fff;
    padding: 6px;
    height: 38px;
    border-radius: 30px;
    font-size: 14px;
    padding-left: 40px;
}

.chat {
    position: relative;
    /* .search(60px) + .heade(50px) */
    height: calc(100% - 110px);
    /* Scroll bar */
    overflow-y: auto;
}

.chat > .block {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.chat > .block > .image {
    position: relative;
    min-width: 45px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

.chat > .block > .details {
    position: relative;
    width: 100%;
}

.chat > .block > .details > .listHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.chat > .block > .details > .listHead > h4 {
    font-size: 1.1em;
    font-weight: 600;
}

.chat > .block > .details > .listHead > h4 > .time {
    font-size: 0.75em;
    color: #aaa;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message > p {
    color: #aaa;
}